name: tests

on:
  push:
    paths-ignore: ['docs/**']
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false           # lets 3.11 fail without cancelling 3.9, etc.
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"    

    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install .[test]      

    - name: Run unit tests
      run: pytest -m "not slow" --cov=src/boltz --cov-report=term-missing 
